<%- model_class = CandidateForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:birth_date) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:nationality) %></th>
      <th><%= model_class.human_attribute_name(:living_in_emirates) %></th>
      <th><%= model_class.human_attribute_name(:visa_status) %></th>
      <th><%= model_class.human_attribute_name(:visa_valid_till) %></th>
      <th><%= model_class.human_attribute_name(:emirate_id) %></th>
      <th><%= model_class.human_attribute_name(:languages_known) %></th>
      <th><%= model_class.human_attribute_name(:uae_dl) %></th>
      <th><%= model_class.human_attribute_name(:have_car) %></th>
      <th><%= model_class.human_attribute_name(:experience_in_uae) %></th>
      <th><%= model_class.human_attribute_name(:experience_in_sp) %></th>
      <th><%= model_class.human_attribute_name(:job_type) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @candidate_forms.each do |candidate_form| %>
      <tr style="color: black;">
        <td><%= link_to candidate_form.id, candidate_form_path(candidate_form) %></td>
        <td><%= candidate_form.name %></td>
        <td><%= candidate_form.contact %></td>
        <td><%= candidate_form.email %></td>
        <td><%= candidate_form.birth_date %></td>
        <td><%= candidate_form.gender %></td>
        <td><%= candidate_form.nationality %></td>
        <td><%= candidate_form.living_in_emirates %></td>
        <td><%= candidate_form.visa_status %></td>
        <td><%= candidate_form.visa_valid_till %></td>
        <td><%= candidate_form.emirate_id %></td>
        <td><%= candidate_form.languages_known %></td>
        <td><%= candidate_form.uae_dl %></td>
        <td><%= candidate_form.have_car %></td>
        <td><%= candidate_form.experience_in_uae %></td>
        <td><%= candidate_form.experience_in_sp %></td>
        <td><%= candidate_form.job_type %></td>
        <td><%=l candidate_form.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_candidate_form_path(candidate_form), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      candidate_form_path(candidate_form),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_candidate_form_path,
            :class => 'btn btn-primary' %>
